input[type=email],
input[type=password]
{
    box-sizing: border-box;
   
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input[type=email]:focus,
  input[type=password]:focus
  {
    border: 1px solid #555;
  }